body {
    background: rgb(39, 38, 38);
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
}
a:link {
  color: rgb(235, 188, 171);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(235, 188, 171);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(163, 130, 118);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(163, 130, 118);
  background-color: transparent;
  text-decoration: underline;
}